@import "../../css-config/mixins.scss";

.carouselimg-container {
  height: auto;
  width: 100%;
}

.main-content {
  max-width: calc(100% - 20px);
  margin: 0 auto;

  @include md {
    max-width: 1200px;
  }
}
