@import "../../../css-config/mixins.scss";

.shop-by-category {
  margin: 1rem 0;

  @include md {
    margin: 3rem 0;
  }

  .categories {
    display: flex;
    flex-flow: wrap;
    gap: 0.5rem;

    .category {
      background-color: #000;
      width: calc(50% - 5px);
      cursor: pointer;
      overflow: hidden;

      @include md {
        width: calc(25% - 10px);
      }

      img {
        display: block;
        width: 100%;
        transition: all ease 0.3s;

        @include md {
          margin-top: 0.5rem;
        }
      }

      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}
