@import "../../css-config/mixins.scss";

.single-product-main-content {
  margin: 20px 0;

  @include md {
    margin: 75px 0;
  }

  .layout {
    max-width: calc(100% - 20px);
    margin: 0 auto;

    @include md {
      max-width: 1200px;
    }
  }

  .single-product-page {
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    .left {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.05);
      flex-shrink: 0;
      border-radius: 10px;
      border: 1px solid rgba(12, 65, 117, 0.07);

      @include md {
        width: 500px;
        height: 500px;
      }

      img {
        display: block;
        width: 100%;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      padding-top: 20px;

      @include md {
        padding: 0 35px;
      }

      .single-name {
        font-size: 1rem;
        line-height: 28px;
        margin-bottom: 20px;
        color: #FC628D;

        @include md {
          font-size: 28px;
          line-height: 32px;
        }
      }

      .price {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
        color: red;
      }

      .description {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        color: rgba(12, 65, 117, 0.7);

        @include md {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .info-item {
        color: #0C4175;
        .share {
          margin-top: 20px;
        }

        .text-bold {
          font-size: 18px;
          font-weight: 500;
          display: block;

          &:nth-child(1) {
            margin-bottom: 20px;
          }

          span {
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            color: #6b6b6b;
          }

          svg {
            margin: 0 5px;
          }
        }
      }

      .cart1-buttons {
        display: flex;

        @include md {
          margin-top: 30px;
        }

        .quantity1-buttons {
          width: fit-content;
          display: flex;
          border: 1.5px solid rgba(12, 65, 117, 0.1);
          margin-right: 10px;
          height: 50px;
          border-radius: 20px;
          background-color: rgba(12, 65, 117, 0.1) ;

          span {
            font-size: 18px;
            display: flex;
            width: 40px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #6b6b6b;
           
            &:nth-child(1) {
              border-right: 1.5px solid rgba(12, 65, 117, 0.1);
            }

            &:nth-child(2) {
              width: 60px;
              background-color: #f9f9f9;
              color: rgba(12, 65, 117, 1);
            }

            &:nth-child(3) {
              border-left: 1.5px solid rgba(12, 65, 117, 0.1);
            }
          }

          .btn-incre {
            background-color: transparent;
            border: none;
            font-size: 24px;
            height: 50px;
            width: 40px;
            cursor: pointer;
            color: rgba(12, 65, 117, 0.7);
            &:hover {
              color: rgba(12, 65, 117, 1);
            }
           
          }
        }

        .btn-add-to-cart {
          outline: 0;
          border: 0;
          height: 50px;
          width: 180px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-size: 16px;
          color: #fff;
          background-color: #0C4175;
          border-radius: 20px;
          flex-grow: 1;
          &:hover {
            background-color: rgba(12, 65, 117, 0.9);
          }
         
          @include md {
            flex-grow: unset;
          }
        }
      }

      .divider {
        margin: 20px 0;
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
